<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>al_grab0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 185}</string>
			<key>spriteSourceSize</key>
			<string>{102, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 189}, {102, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_grab0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 185}</string>
			<key>spriteSourceSize</key>
			<string>{115, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 566}, {115, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_grab0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 185}</string>
			<key>spriteSourceSize</key>
			<string>{131, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 190}, {131, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_grab0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 186}</string>
			<key>spriteSourceSize</key>
			<string>{146, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 190}, {146, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_grab0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 186}</string>
			<key>spriteSourceSize</key>
			<string>{163, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 2}, {163, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_grab0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {141, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{141, 185}</string>
			<key>spriteSourceSize</key>
			<string>{141, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 193}, {141, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_grab0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 185}</string>
			<key>spriteSourceSize</key>
			<string>{120, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 380}, {120, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_grab0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 185}</string>
			<key>spriteSourceSize</key>
			<string>{102, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 377}, {102, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_stand.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 185}</string>
			<key>spriteSourceSize</key>
			<string>{102, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 2}, {102, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 189}</string>
			<key>spriteSourceSize</key>
			<string>{152, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {152, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 184}</string>
			<key>spriteSourceSize</key>
			<string>{123, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 380}, {123, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {99, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 180}</string>
			<key>spriteSourceSize</key>
			<string>{99, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 561}, {99, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 177}</string>
			<key>spriteSourceSize</key>
			<string>{91, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{637, 561}, {91, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 179}</string>
			<key>spriteSourceSize</key>
			<string>{91, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 564}, {91, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 183}</string>
			<key>spriteSourceSize</key>
			<string>{104, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 2}, {104, 183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{122, 186}</string>
			<key>spriteSourceSize</key>
			<string>{122, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 2}, {122, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 183}</string>
			<key>spriteSourceSize</key>
			<string>{106, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 376}, {106, 183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 179}</string>
			<key>spriteSourceSize</key>
			<string>{93, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 564}, {93, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 177}</string>
			<key>spriteSourceSize</key>
			<string>{91, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 564}, {91, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 178}</string>
			<key>spriteSourceSize</key>
			<string>{92, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{119, 567}, {92, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 181}</string>
			<key>spriteSourceSize</key>
			<string>{104, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 187}, {104, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>al_walk0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {126, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 185}</string>
			<key>spriteSourceSize</key>
			<string>{126, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 377}, {126, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>